<!DOCTYPE html>
<html>
  <body>  
    <p>Hi,</p>
    <p>A new arrival was booked at the Porto RealOps website. Details follow.</p>
    <hr>
    <code>
        <p>Pilots name: {{user.full_name}}</p>
        <p>Pilot CID: {{user.id}}</p>
        <p>Pilot email address: {{user.email}}</p>
        <p>Arrival time: {{flight.time}} UTC</p>
        <p>From airport ICAO code: {{flight.location}}</p>
        <p>Aircraft type: {{flight.aircraft}}</p>
        <p>Flight number (callsign to be used): {{flight.callsign}}</p>
        <p>Flight route: {{flight.route}}</p>
    </code>
    <hr>
    <br>
    <p>Regards</p>
    <hr>
    <p>The Portugal vACC Real Ops Team</p>
  </body>
</html>