<!DOCTYPE html>
<html>
  <body>  
    <p>Dear {{username}},</p>
    <p>This email is to confirm that your slot has been booked for Porto RealOps 2021. The details of your flight follow.</p>
    <hr>
    <code>
        <p>Arrival time: {{flight.time}} UTC</p>
        <p>Departure airport ICAO code: {{flight.location}}</p>
        <p>Aircraft type: {{flight.aircraft}}</p>
        <p>Flight number (callsign to be used): {{flight.callsign}}</p>
        <p>Flight route: {{flight.route}}</p>
    </code>
    <hr>
    <p>Should the above callsign be in use when you connect to the network you are requested to add an L to the callsign.</p>
    <p>Please look out for any important notices announced through our website <a href="porto-realops.portugal-vacc.org">(porto-realops.portugal-vacc.org)</a></p>
    <p>Please read through the Airport Information and Charts page of the website as it contains important information and a number of FAQs which may help improve your experience of the event.</p>
    <br>
    <p>We hope you enjoy Porto RealOps 2021!</p>
    <hr>
    <p>The Portugal vACC Real Ops Team</p>
  </body>
</html>
