{% extends "bootstrap/base.html" %}

{% block title %}Porto RealOps{% endblock title %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/realops.css') }}">
{% endblock styles %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/current-day.js') }}"></script>
  {{super()}}
{% endblock scripts %}

<script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/current-day.js"></script>
{% block content %}
  <h1 class="text-center text-white d-none d-lg-block site-heading">
    <span class="text-primary site-heading-upper mb-3">Welcome to&nbsp;</span><span class="site-heading-lower">Porto Realops</span>
  </h1>
  <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Porto REALOPS</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div
          class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav navbar-nav mx-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('index')}}">Home</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('flights.index')}}">flights</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('contactus')}}">Contact us</a></li>
          </ul>
      </div>
    </div>
  </nav>
  {% if flights_booked %}
  <div class="alert alert-secondary" role="alert">
    <h6>My booked flights:</h6>
    <ul>
      {% for b in flights_booked %}
      <li style="list-style-type: none; padding:15px;">{{b.callsign}}, {{b.flight_type}} at {{b.time}}z {% if b.flight_type == 'departure' %}to{% else %}from{% endif %} {{b.location}} 
        <span style="float:right; margin-right:25px"><a href="{{url_for('flights.cancel', id=b.id) }}" type="button" class="btn btn-danger btn-sm">Cancel Flight {{b.callsign}}</a></span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% block page_content %}
          
  {% endblock page_content %}
  <footer class="footer text-faded text-center py-5" style="background-color: rgba(15,30,47,0.73);">
    <div class="container">
        <p class="m-0 small">Copyright&nbsp;©&nbsp;Portugal vACC 2021</p>
    </div>
  </footer>
{% endblock content %}