{% extends "base.html" %}

{% block page_content %}
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="bg-faded rounded p-5" style="margin-top: 75px;">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Error</span></h2>
                        {{error}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock page_content %}
