{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script>
    function computeFlight(e){
        e = JSON.parse(e)
        document.getElementById("modal-body").innerHTML = '<center><img width="50%" src="https://porto-realops.portugal-vacc.org/static/logos/'+e.airline+'.png"></center><br>\
            <code>\
                Callsign<span style="float:right">' + e.callsign + '</span><br> \
                Aircraft<span style="float:right">' + e.aircraft + '</span><br> \
                Route<span style="float:right">' + e.route + '</span><br> \
            </code>'
        let _id = e._id['$oid']
        document.getElementById('bookFlightForm').action = './' + _id + '/book' 
    }
</script>
{% endblock scripts %}

{% block page_content %}
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div id="content_deps" class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Current Departures</span></h2>
                        <div class="table-responsive text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Dep. Time (UTC)</th>
                                        <th><strong>Flight no</strong></th>
                                        <th><strong>Aircraft</strong><br></th>
                                        <th>Airline</th>
                                        <th>Destination</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for departure in departures %}
                                    <tr>
                                        <td>{{departure.time}}<br></td>
                                        <td>{{departure.callsign}}<br></td>
                                        <td>{{departure.aircraft}}</td>
                                        <td  width="55%"><img width="50%" src="{{url_for('static', filename='logos/'+departure.airline+'.png')}}"></td>
                                        <td>{{departure.location}}<br></td>
                                        {% if not departure.book %}
                                        <td><a type="button" href="#" onclick="return computeFlight('{{departure.to_json()}}')" data-toggle="modal" data-target="#bookFlightModal" class="btn btn-primary btn-sm">Book</a></td>
                                        {% elif departure.book %}
                                        <td width="100%">Booked by {{departure.book.cid}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="content_arrs" class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Current Arrivals</span></h2>
                        <div class="table-responsive text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Arr. Time (UTC)</th>
                                        <th><strong>Flight no</strong></th>
                                        <th><strong>Aircraft</strong><br></th>
                                        <th>Airline</th>
                                        <th>From</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for arrival in arrivals %}
                                    <tr>
                                        <td>{{arrival.time}}<br></td>
                                        <td>{{arrival.callsign}}<br></td>
                                        <td>{{arrival.aircraft}}</td>
                                        <td width="55%"><img width="50%" src="{{url_for('static', filename='logos/'+arrival.airline+'.png')}}"></td>
                                        <td>{{arrival.location}}<br></td>
                                        {% if not arrival.book %}
                                        <td><a type="button" href="#" onclick="return computeFlight('{{arrival.to_json()}}')" data-toggle="modal" data-target="#bookFlightModal" class="btn btn-primary btn-sm">Book</a></td>
                                        {% elif arrival.book %}
                                        <td width="100%">Booked by {{arrival.book.cid}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Book Flight Form -->
<div id="bookFlightModal" class="modal fade" role="dialog">
    <form id="bookFlightForm" method="POST">
        <div class="modal-dialog">
    
        <!--  Book Flight Form content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-title" class="modal-title">Book Flight</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <p id="modal-body">Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Book</button>
            </div>
        </div>
    
        </div>
    </form>
</div>
{% endblock page_content %}