{% extends "base.html" %}

{% block page_content %}
  <section class="page-section clearfix">
      <div class="container">
          <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='img/intro.png') }}" style="width: 586px;">
              <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center" style="width: 499px;height: 444px;">
                  <h2 class="section-heading mb-4"><span class="section-heading-upper"><strong>Sunday 11th&nbsp;April 2021</strong><br></span><span class="section-heading-lower"><strong>1400Z-1900Z</strong><br></span></h2>
                  <p class="mb-3"><strong>Porto Real Ops 2021</strong>&nbsp;is the second edition of one of Portugal's largest events. It's the coming together of some of VATSIM's finest pilots and controllers with an amazing scenery in the background.&nbsp;<br><br></p>
                  <div id="deparrs_row" class="row">
                      <div id="departures">
                          <p>Departures</p>
                          <div class="progress" id="deps_progress">
                              <div class="progress-bar" aria-valuenow="{{perc_booked_deps}}" aria-valuemin="0" aria-valuemax="100" style="width: {{perc_booked_deps}}%;">{{perc_booked_deps}}%</div>
                          </div>
                      </div>
                      <div id="arrivals">
                          <p>Arrivals</p>
                          <div class="progress">
                              <div class="progress-bar" aria-valuenow="{{perc_booked_arrs}}" aria-valuemin="0" aria-valuemax="100" style="width: {{perc_booked_arrs}}%;">{{perc_booked_arrs}}%</div>
                          </div>
                      </div>
                  </div>
                  <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="{{url_for('flights.index')}}">Check our flights!</a></div>
              </div>
          </div>
      </div>
  </section>
  <section class="page-section cta" style="padding: 150px 0px;background-color: rgba(98,86,230,0.01);height: 595px;">
      <div class="container">
          <div class="row">
              <div class="col-xl-9 mx-auto">
                  <div class="cta-inner text-center rounded">
                      <h2 class="section-heading mb-4"><span class="section-heading-upper">Our Promise</span><span class="section-heading-lower">To You</span></h2>
                      <p class="mb-0">Porto Airport is known for its approach over Douro River and a set of 6 bridges over the river within a 5 km extension.On Sunday 11th&nbsp;April, pilots from all over the world are invited to choose from one of the&nbsp;84 flights on offer:&nbsp;<strong>44 arrivals</strong>&nbsp;and&nbsp;<strong>40 departures</strong>.<br></p>
                  </div>
              </div>
          </div>
      </div>
  </section>    
{% endblock page_content %}
