body {
  background: linear-gradient(rgba(15,18,47,0.77), rgba(255, 255, 255, 1));
}

#departures {
  width: 40%;
  margin-right: 5%;
}

#arrivals {
  width: 40%;
  margin-left: 5%;
}

#deparrs_row {
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

#content_deps {
  margin-top: 75px;
}

#content_arrs {
  margin-top: 25px;
}

